$container-width: 1600px;

/* COLORS */

$c-main: #111519;
$c-second: #fff;
$c-blue: #002D96;

/* MEDIA QUERIES */

$desc-width: 1599.9px;
$middle-width: 1279.9px;
$tablet-width: 1024px;
$mobile-width: 767px;

/* ANIMATIONS */

$transition-duration: 0.3s;
