{%
    set aboutSlider = [
        'about-slider-1.jpg', 'about-slider-2.jpg', 'about-slider-3.jpg', 'about-slider-4.jpg', 'about-slider-5.jpg'
    ]
%}
{%
    set aboutTextArray = [
        'Мы специализируемся на автомобилях Geely — это позволяет нам концентрироваться на особенностях этих марок,
        предлагать оптимальные решения — и быть лучшими в своем сегменте.',
        'Вашим авто займутся специалисты, которые ранее работали у официальных дилеров и имеют огромный опыт работы
        с автомобилями Geely —  у нас нет случайных людей. ',
        'Наши цены – оптимальны, счета — прозрачны. Без скрытых комиссий, без обмана и неприятных неожиданностей.
        Вы всегда точно знаете, за что платите.',
        'Собственный склад запчастей – и почти все есть в наличии. Только оригинальные запчасти (или проверенные
        сертифицированные аналоги) — никаких подделок сомнительного производства.',
    ]
%}
{%
    set aboutPartners = [
        'partners-1.svg', 'partners-2.svg', 'partners-3.png'
    ]
%}

<section class="about" id="about" data-role="anchor-section">
    <div class="container">
        <h2 class="about__title title">О нашем сервисе</h2>
        <div class="about__slider slick-slider">
            {% for image in aboutSlider %}
                <picture class="about__slide">
                    <img src="/assets/img/about/{{ image }}" alt="" class="about__image">
                </picture>
            {% endfor %}
        </div>
        <div class="about__area">
            <div class="about__box">
                {% for text in aboutTextArray %}
                    <p class="about__text">{{ text }}</p>
                {% endfor %}
                <div class="about__headline">Партнёры сервиса</div>
                <div class="about__list">
                    {% for partner in aboutPartners %}
                        <img src="/assets/img/about/{{ partner }}" alt="" class="about__partner">
                    {% endfor %}
                </div>
            </div>
            <div class="about__nav slick-nav">
                <div class="about__nav-btn about__nav-btn_left slick-nav-btn slick-nav-btn_left">
                    <svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 15.5H28M28 15.5L15.1053 2M28 15.5L15.1053 29" stroke="#111519" stroke-width="3"/>
                    </svg>

                </div>
                <div class="about__nav-btn about__nav-btn_right slick-nav-btn slick-nav-btn_right">
                    <svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 15.5H28M28 15.5L15.1053 2M28 15.5L15.1053 29" stroke="#111519" stroke-width="3"/>
                    </svg>

                </div>
            </div>
        </div>
    </div>
</section>
