<section class="description">
    <div class="container">
        <div class="description__area">
            <p class="description__text">
                <span class="description__black">За 14 лет</span> работы мы приобрели большой опыт  в&nbsp;работе с автомобилями Volvo.
                Он позволяет нам качественно
                <span class="description__black">обслуживать</span> <span class="description__black">автомобили Geely,</span> собранные на базе Volvo.
                <span class="description__grey">
                    Мы уделяем внимание качеству и профессионализму своих услуг. Клиенты, которые обратились к нам,
                    остаются довольными результатом и уровнем обслуживания.
                </span>
            </p>
            <div class="description__box">
                <div class="description__image">
                    <svg class="image">
                        <use xlink:href="#yandex-mark"></use>
                    </svg>
                </div>
                <div class="description__info">
                    <div class="description__rate">
                        <div class="description__rate-star">
                            <svg class="image">
                                <use xlink:href="#star"></use>
                            </svg>
                        </div>
                        <span class="description__rate-value">5.0</span>
                    </div>
                    <a href="https://yandex.ru/maps/org/rusvolvo/1510312821/chain/?ll=37.716082%2C55.720170&utm_campaign=v1&utm_medium=rating&utm_source=badge&z=17"
                       class="description__link" target="_blank">Наш сервис на&nbsp;Яндекс.Картах</a>
                </div>
            </div>
        </div>
    </div>
</section>
