<div class="modal-thanks" id="modal-thanks">
    <div class="modal-thanks__inner">
        <div class="modal-thanks__title">Заявка отправлена!</div>
        <img src="/assets/img/ic_modal_thanks.svg" alt="" class="modal-thanks__icon">
        <div class="modal-thanks__text">Наш менеджер свяжется с Вами для уточнения информации.</div>
        <button class="modal-thanks__button btn-black btn-black_hover-white" data-element="modal-thanks-button">Закрыть окно</button>
    </div>
</div>
<a href="#modal-thanks" class="modal-thanks-open" data-fancybox data-element="modal-thanks-open"></a>
