<div class="modal-video" id="modal-video-1">
    <iframe class="modal-video__video" src="https://www.youtube.com/embed/LPJhS9dV01Y?si=9OSGZu5OhAXr7bHg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>

<div class="modal-video" id="modal-video-2">
    <iframe class="modal-video__video" src="https://www.youtube.com/embed/v7N5c4WHY1o?si=DNgyO5dvd8nrplhM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>
