<section class="reviews" id="reviews" data-role="anchor-section">
    <div class="container">
        <div class="reviews__area">
            <div class="reviews__box">
                <h2 class="reviews__title title">Отзывы</h2>
                <div class="reviews__image">
                    <svg class="image">
                        <use xlink:href="#yandex-mark"></use>
                    </svg>
                </div>
                <a href="//yandex.ru/maps/org/1510312821/reviews?utm_source=badge&utm_medium=rating&utm_campaign=v1" class="reviews__rate-link" target="_blank">
                    <img src="/assets/img/reviews/reviews-rate.png" alt="" class="reviews__rate">
                </a>
            </div>
            <div class="reviews__wrap">
                <div class="reviews__slider">
                    <div class="reviews__slide reviews__slide_text">
                        <div class="reviews__count">
                            <span class="reviews__count-current">1</span> из <span class="reviews__count-all"
                                                                                   data-element="reviews__count-all"></span>
                        </div>
                        <p class="reviews__text">
                            «Хочу поделиться своим отзывом о ремонте моей Tugella. Никаких нареканий у меня нет, все
                            сделали быстро  и качественно. Механики профессионалы своего дела,  их опыт и знания
                            впечатляют. Я остался доволен результатом и уверен, что буду обращаться к ним в будущем.
                            Спасибо за отличный сервис!»
                        </p>
                        <div class="reviews__author">
                            <img src="/assets/img/reviews/reviews-author-1.jpg" alt="" class="reviews__author-image">
                            <div class="reviews__span reviews__span_name">Евгений Лутовинов</div>
                            <div class="reviews__span reviews__span_grey">Владелец Geely Tugella</div>
                        </div>
                    </div>
                    <div class="reviews__slide reviews__slide_video">
                        <div class="reviews__count">
                            <span class="reviews__count-current">2</span> из <span class="reviews__count-all"
                                                                                   data-element="reviews__count-all"></span>
                        </div>
                        <div class="reviews__inner">
                            <div class="reviews__video-box">
                                <a href="#modal-video-1" class="reviews__video-container" data-fancybox data-element="review-video-container">
                                    <img src="/assets/img/reviews/video-placeholder-1.jpg" class="reviews__video">
                                </a>
                                <div class="reviews__span reviews__span_name">Арсений Молодцев</div>
                                <div class="reviews__span reviews__span_grey">Владелец Geely Coolray</div>
                            </div>
                            <p class="reviews__text">
                                «Очень доволен качеством обслуживания и профессионализмом сотрудников. Все работы были
                                выполнены в срок, без задержек и недоразумений. Рекомендую данный сервис всем
                                владельцам автомобилей Geely.»
                            </p>
                        </div>
                    </div>
                    <div class="reviews__slide reviews__slide_text">
                        <div class="reviews__count">
                            <span class="reviews__count-current">3</span> из <span class="reviews__count-all"
                                                                                   data-element="reviews__count-all"></span>
                        </div>
                        <p class="reviews__text">
                            «Обслуживают тут качественно. Персонал отвечает на всё вопросы чётко и грамотно.
                            Ремонт на высоком уровне. Ничего лишнего не навязывают. Цена тоже по сравнению  с другими
                            очень приемлемая. В общем, сервис рекомендую всем владельцам Geely.»
                        </p>
                        <div class="reviews__author">
                            <img src="/assets/img/reviews/reviews-author-2.jpg" alt="" class="reviews__author-image">
                            <div class="reviews__span reviews__span_name">Арсений Куликов</div>
                            <div class="reviews__span reviews__span_grey">Владелец Geely Tugella</div>
                        </div>
                    </div>
                    <div class="reviews__slide reviews__slide_video">
                        <div class="reviews__count">
                            <span class="reviews__count-current">4</span> из <span class="reviews__count-all"
                                                                                   data-element="reviews__count-all"></span>
                        </div>
                        <div class="reviews__inner">
                            <div class="reviews__video-box">
                                <a href="#modal-video-2" class="reviews__video-container" data-fancybox data-element="review-video-container">
                                    <img src="/assets/img/reviews/video-placeholder-2.jpg" class="reviews__video">
                                </a>
                                <div class="reviews__span reviews__span_name">Евгения Петрова</div>
                                <div class="reviews__span reviews__span_grey">Владелец Geely Tugella</div>
                            </div>
                            <p class="reviews__text">
                                «Все супер, качественное и быстрое обслуживание авто. Ребята знают свое дело.
                                Теперь на обслуживание только сюда. В наличие большинство запчастей, хорошая
                                клиентская зона с ТВ и кофе.»
                            </p>
                        </div>
                    </div>
                    <div class="reviews__slide reviews__slide_text">
                        <div class="reviews__count">
                            <span class="reviews__count-current">5</span> из <span class="reviews__count-all"
                                                                                   data-element="reviews__count-all"></span>
                        </div>
                        <p class="reviews__text">
                            «Грамотный сервис. Быстро, четко, по делу. Дважды приезжала с конкретными проблемами
                            (электрика, двигатель). Сразу определились с «планом лечения». Варианты, сроки,
                            стоимость - все обговорили на старте. Дополнительных «услуг» не навязывают. Ремонт
                            выполнен качественно и в срок. Большое спасибо!»
                        </p>
                        <div class="reviews__author">
                            <img src="/assets/img/reviews/reviews-author-3.jpg" alt="" class="reviews__author-image">
                            <div class="reviews__span reviews__span_name">Елена Молодцова</div>
                            <div class="reviews__span reviews__span_grey">Владелеца Geely Coolray</div>
                        </div>
                    </div>
                    <div class="reviews__slide reviews__slide_text">
                        <div class="reviews__count">
                            <span class="reviews__count-current">6</span> из <span class="reviews__count-all"
                                                                                   data-element="reviews__count-all"></span>
                        </div>
                        <p class="reviews__text">
                            «Посетив несколько подобного рода заведений в процессе ремонта своего Coolray, уверенно
                            делаю выбор в пользу данного технического центра. На приемке Артем и Алексей - профи
                            своего дела, и, самое главное, дополнительные услуги не навязываются, мастера адекватные,
                            внимательные. Буду рекомендовать знакомым. Оценка отлично.»
                        </p>
                        <div class="reviews__author">
                            <img src="/assets/img/reviews/reviews-author-4.jpg" alt="" class="reviews__author-image">
                            <div class="reviews__span reviews__span_name">Пётр Ломов</div>
                            <div class="reviews__span reviews__span_grey">Владелец Geely Coolray</div>
                        </div>
                    </div>
                    <div class="reviews__slide reviews__slide_text">
                        <div class="reviews__count">
                            <span class="reviews__count-current">7</span> из <span class="reviews__count-all"
                                                                                   data-element="reviews__count-all"></span>
                        </div>
                        <p class="reviews__text">
                            «Только всё всегда по делу и никогда не навязывается лишних работ. Мастера-приемщики
                            Артём и Алексей, отдельное спасибо — знают огромное количество нюансов, сразу понятен
                            большой накопленный опыт работы. Цены очень приятные, если сравнить с другими сервисами
                            по Geely,  и это факт. Приезжаю только сюда. С уважением.»
                        </p>
                        <div class="reviews__author">
                            <img src="/assets/img/reviews/reviews-author-5.jpg" alt="" class="reviews__author-image">
                            <div class="reviews__span reviews__span_name">Иван Добролюбов</div>
                            <div class="reviews__span reviews__span_grey">Владелец Geely Coolray</div>
                        </div>
                    </div>
                </div>
                <div class="reviews__nav slick-nav">
                    <div class="reviews__nav-btn reviews__nav-btn_left slick-nav-btn slick-nav-btn_left">
                        <svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 15.5H28M28 15.5L15.1053 2M28 15.5L15.1053 29" stroke="#111519" stroke-width="3"/>
                        </svg>
                    </div>
                    <div class="reviews__nav-btn reviews__nav-btn_right slick-nav-btn slick-nav-btn_right">
                        <svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 15.5H28M28 15.5L15.1053 2M28 15.5L15.1053 29" stroke="#111519" stroke-width="3"/>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
