<section class="services" id="services" data-role="anchor-section">
    <div class="container">
        <div class="services__wrap">
            <h2 class="services__title title">Услуги сервиса Geely</h2>
            <div class="services__list">
                <a href="#modal-registration" class="services__item services__item_high" data-fancybox>
                    <picture class="services__picture">
                        <source srcset="/assets/img/services/services-1_mob-1x.png 1x, /assets/img/services/services-1_mob-2x.png 2x" media="(max-width: 767px)">
                        <img src="/assets/img/services/services-1.png" alt="" class="services__image">
                    </picture>
                    <span class="services__name">Техническое обслуживание geely</span>
                </a>
                <div class="services__area">
                    <a href="#modal-registration" class="services__item" data-fancybox>
                        <picture class="services__picture">
                            <source srcset="/assets/img/services/services-2_mob-1x.png 1x, /assets/img/services/services-2_mob-2x.png 2x" media="(max-width: 767px)">
                            <img src="/assets/img/services/services-2.png" alt="" class="services__image">
                        </picture>
                        <span class="services__name services__name_white">Ремонт</span>
                    </a>
                    <a href="#modal-registration" class="services__item" data-fancybox>
                        <picture class="services__picture">
                            <source srcset="/assets/img/services/services-3_mob-1x.png 1x, /assets/img/services/services-3_mob-2x.png 2x" media="(max-width: 767px)">
                            <img src="/assets/img/services/services-3.png" alt="" class="services__image">
                        </picture>
                        <span class="services__name">Установка доп.&nbsp;оборудования</span>
                    </a>
                    <a href="#modal-registration" class="services__item services__item_wide" data-fancybox>
                        <picture class="services__picture">
                            <source srcset="/assets/img/services/services-4_mob-1x.png 1x, /assets/img/services/services-4_mob-2x.png 2x" media="(max-width: 767px)">
                            <img src="/assets/img/services/services-4.png" alt="" class="services__image">
                        </picture>
                        <span class="services__name">Диагностика</span>
                    </a>
                    <a href="#modal-registration" class="services__item" data-fancybox>
                        <picture class="services__picture">
                            <source srcset="/assets/img/services/services-5_mob-1x.png 1x, /assets/img/services/services-5_mob-2x.png 2x" media="(max-width: 767px)">
                            <img src="/assets/img/services/services-5.png" alt="" class="services__image">
                        </picture>
                        <span class="services__name">Ремонт электрики</span>
                    </a>
                    <a href="#modal-registration" class="services__item" data-fancybox>
                        <picture class="services__picture">
                            <source srcset="/assets/img/services/services-6_mob-1x.png 1x, /assets/img/services/services-6_mob-2x.png 2x" media="(max-width: 767px)">
                            <img src="/assets/img/services/services-6.png" alt="" class="services__image">
                        </picture>
                        <span class="services__name services__name_white">Кузовной ремонт</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
